<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.StudentInfoDao">
    
    <resultMap id="BaseResultMap" type="org.seckill.entity.StudentInfoEntity">
        <id column="student_Id" property="studentId" jdbcType="INTEGER" />
        <result column="student_Name" property="studentName" jdbcType="VARCHAR" />
        <result column="student_Acdemic" property="studentAcdemic" jdbcType="VARCHAR" />
        <result column="student_Major" property="studentMajor" jdbcType="VARCHAR" />
        <result column="student_Num" property="studentNum" jdbcType="VARCHAR" />
        <result column="student_Phone" property="studentPhone" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base">
        student_Id, student_Name,student_Acdemic, student_Major,student_Num,student_Phone
    </sql>

    <select id="queryByNum" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base" />
        FROM student
        WHERE  student_Num= #{num}
    </select>

    <select id="queryById" resultType="String" >
        SELECT
        <include refid="Base" />
        FROM student
        WHERE student_Id= #{studentId, jdbcType = INTEGER}
    </select>

    <select id="findById" resultType="org.seckill.entity.StudentInfoEntity" >
        SELECT
        <include refid="Base" />
        FROM student
        WHERE student_Id= #{studentId, jdbcType = INTEGER}
    </select>

    <select id="queryAll" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base" />
        FROM student
        WHERE 1 = 1
    </select>

    <insert id="insertStudentInfo" parameterType="org.seckill.entity.StudentInfoEntity">
        INSERT INTO student (student_Name,student_Acdemic, student_Major,student_Num,student_Phone)
        VALUE (
        #{studentName, jdbcType = VARCHAR},
        #{studentAcdemic, jdbcType = VARCHAR},
        #{studentMajor, jdbcType = VARCHAR},
        #{studentNum, jdbcType = VARCHAR},
        #{studentPhone, jdbcType = VARCHAR}
        )
    </insert>

    <update id="updateStudent" parameterType="org.seckill.entity.StudentInfoEntity">
        update student
        <set>
            <if test="studentName != null">
                student_Name = #{studentName, jdbcType = VARCHAR},
            </if>
            <if test="studentAcdemic != null">
            student_Acdemic = #{studentAcdemic, jdbcType = VARCHAR},
           </if>
            <if test="studentMajor != null">
                student_Major = #{studentMajor, jdbcType = VARCHAR},
          </if>
            <if test="studentNum != null">
                student_Num = #{studentNum, jdbcType = VARCHAR},
            </if>
            <if test="studentPhone != null">
                student_Phone = #{studentPhone, jdbcType = VARCHAR}
            </if>
        </set>
        where student_Id = #{studentId, jdbcType = INTEGER}
    </update>

    <delete id="deleteStudent">
        delete
        from student
        where student_Id = #{studentId,jdbcType = INTEGER}
    </delete>

</mapper>